<h1>Invites#create</h1>
<p>Find me in app/views/invites/create.html.erb</p>

You just created <%= params[:num_invites][0].to_i %> more invites. Find all your invites at 
<%= link_to "invites", invites_path %>